*{
    border: 0;
    padding: 0;
    box-sizing: border-box;
 }

 body {
    background-color:#DCEDC8;
 }
/* Header*/
header {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    color: #fff;
    /*background-color: rgb(220,220,90);*/
   background-color:   #2e1e69;
}
    
/* Input Area*/       
.input-box{
   /* border: 2px solid black;*/
    width: 50%;
    float: left;
}
.form-box, .result-display {
    margin: 10px;
    border-radius: 10px;
   /* background-color: #60ac5d;*/
    
}
.input-section {
    width: 70%;
   /* border: 2px solid black;*/
    padding: 10px;
    margin: auto;

}
.input-unit {
   
   height: 50px;
   
 
}
.input-unit div {
    
    width: 10%;
    height: 100%;
    float: left;
    position: relative;
   /* background-color: #eeeeee;*/
}

.input-unit span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.input-element {

    outline-style: none;
    width: 40%;
    height: 100%;
    padding: 5px;
    font-size: 1.6em;
    font-weight: bold;
    /* background-color: #dddddd;*/
}
.small {
    width: 10%;
}
.input-button {
    padding: 5px;
    border: 1px solid black;
}

.percentage {
    font-size: 18px;

}

/*Result Area*/
.result-box{
  /*  border: 2px solid black;*/
    width: 50%;
    float: left;
}

.result-section{
     width: 70%;
   /* border: 2px solid black;*/
    padding: 10px;
    margin: auto;
}
.result {
    font-size: 1.6em;
   /* border: 1px solid black;*/
    height: 40px;
    color: #33691e;
    font-weight: bold;

}

/*Grapgh Area*/
.graph-area {
   /* border: 2px solid black;*/
    clear: both;
    height: 400px;

}

.graph-area p {
    position: relative;
    /*font-size: 90px;*/
    left: 200px;
    top: 100px;

}


.dollar, .percentage {
    font-size: 20px;
    font-weight: bold;
}

.result-values {
    font-size: 1.6em;
}

#monthly {

}

label {
    font-size: 1.6em;
}